<head>
    <style>
        * {
            margin: 0;
        }

        #Container {
            margin: 0 auto;
            width: max-content;
        }

    </style>
</head>

<body>
    <div id="Container">
        <h1>Links</h1>

        <a href="/Employees">Employees</a> <br />

        <a href="/Departments">Departments</a> <br />

        <a href="/DepartmentsMongodb">Departments (Mongodb)</a> <br />
    </div>
</body>
